doctype 5
html
  head
    title= "DibLib Machines"
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js")
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/socketData.js')
  body
    block content